Gemfile.lock
*.gemspec
/android/WebsocketExampleClientProject/.idea/vcs.xml
/android/WebsocketExampleClientProject/.idea/scopes/scope_settings.xml
/android/WebsocketExampleClientProject/.idea/runConfigurations.xml
/android/WebsocketExampleClientProject/.idea/modules.xml
/android/WebsocketExampleClientProject/.idea/misc.xml
/android/WebsocketExampleClientProject/.idea/gradle.xml
/android/WebsocketExampleClientProject/.idea/encodings.xml
/android/WebsocketExampleClientProject/.idea/copyright/profiles_settings.xml
/android/WebsocketExampleClientProject/.idea/compiler.xml
/android/WebsocketExampleClientProject/.idea/caches
.idea
/.DS_Store
*.iml
